.listagem{
    
    min-height: calc(100vh - (76px + 241px + 33px));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.listagem h1{
    text-transform: uppercase;
}

.listagem hr{
    max-width: 300px;
    width: 100%;
    margin-top: 5px;
    border-style: solid;
    border-top-width: 1px;
    border-color: #730618;
    margin-top: 5px;
}

.item_lista img{
    height: 28px;
}

.tabela table{
    width: 100%;
    margin-top: 30px;
}

.tabela .cabecalho :first-child{
    width: 300px;
}

.tabela .cabecalho :nth-child(2){
    width: 200px;
}

.tabela .cabecalho th{
    width: 100px;
}

.item_lista td{
    /* desgrudar o item do titulo */
    padding: 20px 5px 0;
}
