

/* A Mae de todos os componentes */
.main_login{
    display: flex;
    height: 100vh;
}


/* Banner da esquerda  */
.banner{
    background-image: url("../../assets/img/fundoLogin.png");
    flex: 1;
    /* Modificar algumas informacoes ou caracteristicas da imagem  */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Form de login da direita */
.section_login{
    display: flex;
    flex: 1;
    background-color: #CC3F55;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section_login img{
    width: 190px;
    margin-top: -90px;
}

.form_login{
    color: white;
    /* vai deixar o titulo com letra maiuscula */
    width: 100;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.campos_login{
    width: 100%;
}

.campo_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.campo_input input{
    height: 28px;
    width: 400px;
    border-radius: 6px;
    border:none;
    outline: none;
    padding: 1px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}


/* Responsividade 😁*/

/* Me de algumas caracteristicas a partir de um tamanho de tela */
@media screen and (max-width: 768px){

    /* 0pc ate 768 */
    .banner{
        display: none;
    }

}


